<div *ngIf="question">
  <h2>{{ question.title }}</h2>
  <p>{{ question.text }}</p>
  <p>Asked by: {{ question.user?.username }}</p>
  <p>Time: {{ question.time | date }}</p>
  <img [src]="question.image" alt="Question Image" width="200">

  <div *ngIf="tagsOfQuestion && tagsOfQuestion.length > 0">
    <h3>Tags:</h3>
    <ul>
      <li *ngFor="let tag of tagsOfQuestion">{{ tag.text }}</li>
    </ul>
  </div>

  <select *ngIf="isModeratorOrAuthor(question)" [(ngModel)]="selectedTag">
    <option *ngFor="let tag of tags" [value]="tag.text">{{ tag.text }}</option>
  </select>

  <button *ngIf="isModeratorOrAuthor(question)" (click)="addTag()">Add Tag</button>

  <button *ngIf="isModeratorOrAuthor(question)" (click)="deleteQuestion()">Delete Question</button>
</div>

<div *ngIf="answers && answers.length > 0">
  <h3>Answers:</h3>
  <div *ngFor="let answer of answers">
    <h4>{{ answer.title }}</h4>
    <p>{{ answer.text }}</p>
    <p>Answered by: {{ answer.user?.username }}</p>
    <p>Score: {{ answer.user?.score }}</p>
    <p>Time: {{ answer.time | date }}</p>
    <img [src]="answer.image" alt="Answer Image" width="200">
    <button *ngIf="isModeratorOrAuthor(answer)" (click)="deleteAnswer(answer.answerId)">Delete Answer</button>
  </div>
</div>

<div *ngIf="!question && (!answers || answers.length === 0)">
  <p>No question or answers found.</p>
</div>
