<div class="questions-container">
  <div class="filter-container">
    <input type="text" placeholder="Search by title" [(ngModel)]="searchTitle" (input)="filterQuestions()" />

    <select [(ngModel)]="selectedTag" (change)="filterQuestions()">
      <option value="">Filter by tag</option>
      <option *ngFor="let tag of tags" [value]="tag">{{ tag.text }}</option>
    </select>

    <select [(ngModel)]="selectedUser" (change)="filterQuestions()">
      <option value="">Filter by user</option>
      <option *ngFor="let user of users" [value]="user.username">{{ user.username }}</option>
    </select>

    <button (click)="resetFilters()">Reset Filters</button>
  </div>

  <div *ngIf="filteredQuestions.length > 0; else loading">
    <div *ngFor="let question of filteredQuestions" class="question">
      <div class="question-content">
        <button (click)="goToQuestion(question)">View Answers</button>
        <div class="question-details">
          <div class="question-title">{{ question.title }}</div>
          <div class="question-text">{{ question.text }}</div>
          <div class="asked-by">Asked by: {{ question.user?.username }}</div>
          <div class="asked-by">Score: {{question.user?.score}}</div>
          <div class="question-time">Time: {{ question.time | date:'medium' }}</div>
        </div>
        <div class="question-image">
          <img [src]="question.image" alt="Question Image" width="100">
        </div>
      </div>

    </div>
  </div>
  <ng-template #loading>
    <div class="loading">No questions here...</div>
  </ng-template>
</div>
